@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=East+Sea+Dokdo&family=Gasoek+One&family=Noto+Sans+KR:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Single+Day&display=swap');

* {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}